.input--size-small,
.input-group--small .input-group-text
  height: 32px
  font-size: .875rem !important

.input--size-tiny,
.input-group--tiny .input-group-text
  height: 28px
  padding: .3rem .4rem
  font-size: 0.8125rem !important
